@model IList<SharedWeekends.MVC.ViewModels.WeekendViewModel>

@for (int j = 0; j < Model.Count(); j++)
{
    <div class="col-sm-3 col-lg-3 col-md-3">
        <div class="thumbnail">
            @Html.DisplayFor(m => m[j].PictureUrl)
            <div class="caption">
                <div class="col-md-12">
                    <span class="pull-right">@Html.DisplayFor(m => m[j].PricePerPerson)</span>
                </div>
                <div class="col-md-12">
                    <h4>
                        <a href="~/Details/Index/@Model[j].Id">@Model[j].Title</a>
                    </h4>
                    <p>@Html.DisplayFor(m => m[j].Content)</p>
                </div>

            </div>
            <div class="ratings">
                <p class="pull-right">@Html.DisplayFor(m => m[j].LikesCount)</p>
                @Html.DisplayFor(m => m[j].Rating)
            </div>
        </div>
    </div>
}


