@{
    ViewBag.Title = "Home Page";
}
@model SharedWeekends.MVC.ViewModels.HomeViewModel

<div class="jumbotron">
    <h1>Shared Weekends</h1>
    <p class="lead">Shared Weekends is a free web application for sharing your weekend experiences or find ideas for new adventures.</p>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Latest weekend stories</h3>
            </div>
            <div class="panel-body">
                <ul>
                    @foreach (var item in Model.LatestWeekends)
                    {
                    <li><a href="~/Views/Home/Index.cshtml">@item.Title <em>by @item.Author</em></a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Weather in Sofia</h3>
            </div>
            <div class="panel-body" id="weather">
            </div>
        </div>
   </div>
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Most popular stories</h3>
            </div>
            <div class="panel-body">
                <ul>
                    @foreach (var item in Model.TopWeekends)
                    {
                        <li><a href="~/Views/Home/Index.cshtml">@item.Title <em>by @item.Author</em></a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Top five users</h3>
            </div>
            <div class="panel-body">
                <ul>
                    @foreach (var item in Model.TopUsers)
                    {
                        <li>@item.Username <em>Rating: @item.Rating</em></li>
                    }
                </ul>
            </div>
        </div>
    </div>

</div>
