@model SharedWeekends.MVC.ViewModels.WeekendViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Weekend "@Model.Title" <em>by @Model.Author</em>.</h2>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="">
                <div class="col-md-12">@Html.DisplayFor(m => m.PictureUrl)</div>
                <div class="caption-full">
                    <h4 class="pull-right">@Model.PeopleCount Person(s) for @Html.DisplayFor(m => m.PricePerPerson) per Person</h4>
                    <h4>
                        &nbsp;
                    </h4>
                    <div class="col-md-12">
                        <h4>
                            Category: @Model.Category
                        </h4>
                        <div class="row">
                            <div class="col-md-6" data-title="@Model.Title" data-lat="@Model.Lattitude" data-lon="@Model.Longitude" id="location-map"></div>
                            <p style="text-align:justify">@Model.Content</p>
                            <p><em>Published: @Html.DisplayFor(model => model.CreationDate)</em></p>
                        </div>
                    </div>
                </div>
                <div class="ratings">
                    <p class="pull-right">@Model.LikesCount reviews</p>
                    <p>
                        @Html.DisplayFor(m => m.Rating) @Model.Rating stars
                    </p>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    @if (!(bool)ViewBag.HasLikedThis)
                    {
                        <button id="review" class="btn btn-success">Leave a Review</button>
                    }
                    <div id="review-form">
                        @Html.Action("CreateLikeForm", new { id = Model.Id })
                    </div>
                </div>
                <div id="allReviews">
                    @Html.Action("GetWeekendLikes", new { id = Model.Id })
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("../../Scripts/map.js")
}


