@model SharedWeekends.Models.Weekend

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Index", "CreateWeekend", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <h2>Share your weekend.</h2>
    @Html.AntiForgeryToken()
    <form class="form-horizontal">
        <div class="form-group">
            @Html.ValidationSummary(true)
                @Html.LabelFor(m => m.Title, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Title, "Title", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Content, "Content", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.TextAreaFor(m => m.Content, 10, 20, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Content, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PictureUrl, "PictureUrl", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-6">
                @Html.TextBoxFor(m => m.PictureUrl, "PictureUrl", new { @class = "form-control", value = @"~\Content\default.jpg" })
            </div>
            <div class="col-lg-2"><img src="" /></div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">Map</div>
            <div class="col-md-6 form-control" data-title="" data-lat="42.7" data-lon="23.32" id="location-map"></div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Lattitude, "Lattitude", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Lattitude, "Lattitude", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Lattitude, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Longitude, "Longitude", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Longitude, "Longitude", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Longitude, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PeopleCount, "PeopleCount", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.PeopleCount, "PeopleCount", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PeopleCount, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PricePerPerson, "PricePerPerson", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.PricePerPerson, "PricePerPerson", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PricePerPerson, null, new { @class = "text-danger" })
            </div>
        </div>
        @Html.Action("GetCategories")
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                @Html.ActionLink("Cancel", "Index", "Home", new { area = "" }, new { @class = "btn btn-default" })
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
}
<script src="~/Scripts/map-control.js"></script>

