@model IEnumerable<SharedWeekends.MVC.Areas.UserCommunication.ViewModels.MessageViewModel>

<table class="table table-hover table-striped table-condensed">
    <tr>
        <th>
            To
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Receiver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Ajax.ActionLink("Show", "MessageDetails", new { id = item.Id, area = "UserCommunication" },
                new AjaxOptions()
                {
                    UpdateTargetId = "sentMsgDetails",
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace
                })
            </td>
        </tr>
    }

</table>

